{% extends "layout.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock stylesheets %}
{% block body %}
	{% for project in projects %}
		<div style="margin-top:60px">{{ project.name }}</div>
	{% endfor %}
{% endblock body %}