{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
<a href="#" class="btn">OOK</a>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
