{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		</br>
		{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
		</br>
	</div>
</div>

{% endblock fos_user_content %}