{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block body %}
	<div style="margin-top:75px">
		<div class="row" >
			<div class="col-md-1"></div>
	        <div class="col-md-10">
	        	{{ form_start(form) }}
					{{ form_widget(form) }}
					<input type="submit" value="Ajouter l'activité"
           				class="btn btn-primary" />
				{{ form_end(form) }}
	        </div>
	    	<div class="col-md-1"></div>
	    </div>	
	</div>
{% endblock body %}
