{% extends "layout.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/newsFeed.css') }}" />
{% endblock stylesheets %}

{% block body %}
	<div class="row">
		<div class="filter">
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 newsFeed">
		</div>
		<div class="col-md-2">
		</div>
	</div>
{% endblock body %}
