{% extends "layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor.css">
{% endblock stylesheets %}
{% block body %}
    <div ng-include src="'views/header/header.html'"></div>
    <div ui-view></div>
    {% block token %}
        <script>
            const JWTTOKEN = "{{token}}";
        </script>
    {% endblock %}
    {% block javascripts %}
        <script type="application/javascript" src="vendor.js"></script>
        <script type="application/javascript" src="app.js"></script>
    {% endblock %}
{% endblock body %}
