h1{
  margin-top: 75px;
}

a h4, a p{
  color: black;
}

.resultcount{
  color: #DD4814;
  font-size: 80%;
  float: right;
  margin-top: 1%;
}

.resultcountsmall{
  color: #DD4814;
  font-size: 80%;
}

.right{
  float: right;
}

.left{
  position: absolute;
  margin-left: 0px;
}

#search{
  width: 100%;
}

#stringSearch{
  width: 100%;
}
