<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
<h1>Bienvenue !</h1>

<p>
Site en Construction
</p>


<a href="{{ path('gdp_add_task') }}">
    Add a task
</a>


</a>
</body>
</html>
