<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Fablab Centrale Lille</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../">Accueil <span class="sr-only"></span></a></li>
                    <li><a href="">Fil d'actualité</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Créer un projet</a></li>
                    <li><a href="#">Réserver une machine</a></li>
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Rechercher sur le site">
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Mon Profil <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Username</a></li>
                            <li><a href="#">Mes Messages <img  src="{{ asset('icons/message.svg') }}"></a></li>
                            <li><a href="#">Mes Projets</a></li>
                            <li><a href="#">Mes Projets</a></li>
                            <li><a href="#">Mes Abonnements</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="spacer"></div><br><br><br>