<!-- E:\wamp\www\fablab\src\CentraleLille\ReservationBundle\Resources\views\Default\index.html.twig -->

<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Fablab EC-Lille {% endblock %} </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <row>
    <div class="col-md-8 pull-left">
        <img src="http://centrale.ec-lille.fr/img/logo_site_1.gif" alt="logo fablab"/>
    </div>
    <div class="col-md-4 pull-right text-center">
        <h3>Bonjour {{ nom }} {{ prenom }} !</h3>
        <p>On est le {{date().timestamp |date('d/m/Y H:i')}}</p>
    </div>
        </row>
</div>

<nav class="navbar navbar-inverse">
    <div class="container col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">

        <ul class="nav navbar-nav ">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="./reservation">Réservation Machine</a></li>
            <li><a href="./casier">Réservation Casier</a></li>
            <li><a href="./salle">Réservation Salle </a></li>
            <li><a href="./Admin">Administration </a></li>
        </ul>
    </div>
</nav>
<div class="clear-fix"></div>
<div class="container">
<div class="container col-lg-2 col-md-2">
    <div class="list-group">
        <a href="./profil" class="list-group-item active">Mon profil</a>
        <a href="#" class="list-group-item">Mes projets</a>
        <a href="#" class="list-group-item">FAQ</a>
        <a href="#" class="list-group-item">HELP</a>
    </div>

</div>
<div class="col-lg-8">
    {% block body %} Bonjour {% endblock %}
</div>

    </div>

{% block javascripts %}{% endblock %}
</body>
</html>
