{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Index {% endblock %}

{% block body %}
    <div style="margin-top:75px">
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <h3>  Ajouter une machine </h3>
                <div class="well">
                    {{ form(form) }}
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
{% endblock %}