{% extends "ReservationBundle:Default:index.html.twig" %}

{% block title %} Admin - Index {% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="col-md-5 col-lg-5">
    <h3>  Liste des machines </h3>
    </div>

    <div class=" col-lg-offset-3 col-md-offset-3 col-lg-4 col-md-4">
        <div class="btn-group" role="toolbar">
       <button type="button" class="btn btn-primary"aria-hidden="true" onclick="location.href = './reservation/add_machine';">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
           </button>

        <button type="button" class="btn btn-primary" aria-hidden="true" onclick="location.href = './reservation/add_machine';">
            Ajouter machine
        </button>

    </div>
    </div>
    </div>


    {% for machine in machines %}
        <div class="well">
    <ul>
            <li> {{ machine.machineName}}</li>
            <li> {{ machine.description }}</li>
    </ul>
            <div class="btn-group" role="toolbar">
                <button type="button" class="btn btn-danger" aria-hidden="true" onclick="location.href ='./reservation/delete_machine/{{ machine.id }}';">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger" aria-hidden="true" onclick=""location.href = './reservation/delete_machine/{{ machine.id }}'>
                    Supprimer la machine
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}