{% extends 'layout.html.twig' %}

{% block title %} Admin - Index {% endblock %}

{% block body %}
    <div style="margin-top:75px">
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Gestion des réservations</h3>
                <div class="well">
                    Ici nous allons afficher les types de machines puis le calendrier pour toutes les machines pour ce type
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}