{% extends "ReservationBundle:Default:index.html.twig" %}

{% block title %}
    Réservation
x{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-5 col-lg-5">
            <h3>  Réserver une machine </h3>
        </div>
    </div>

    <div class="well">
        {% for machine in machines %}
            <div class="well">
                <ul>
                    <li> {{ machine.name}}</li>
                    <li> {{ machine.description }}</li>
                </ul>
                <div class="btn-group" role="toolbar">
                    <button class="btn" aria-hidden="true" onclick="location.href ='{{ path('centrale_lille_display_resources', {'id': machine.id}) }}'">
                        Voir les disponibilités
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    {% block javascripts %}

    {% endblock %}

{% endblock body %}