{% extends "ReservationBundle:Default:index.html.twig" %}

{% block title %}
    Réservation
x{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-5 col-lg-5">
            <h3>Réserver {{ machine.name}}</h3>
            <p>Description: {{ machine.description}}</p>
            <p>Prérequis: {{ machine.requirements}}</p>

        </div>
    </div>
    <div>
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </div>

    {% block javascripts %}

    {% endblock %}

{% endblock body %}