<<<<<<< 71872a2e747cf024ae6cc231eed8b83ca3bc85b1
Hello World!

<br>

Pull request for user bundle
=======
<!DOCTYPE html>
 <html lang="FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Réservation Machine - Fablab EC-Lille </title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
<div class="container">
    <div class="col-md-12 pull-left">
        <img src="http://centrale.ec-lille.fr/img/logo_site_1.gif" alt="logo fablab"/>
    </div>
</div>
{% block body %} {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
>>>>>>> Fix
